.button-row {
	display: flex;
	flex-direction: row;
}

.binary-clock,
.clock {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.button,
.number {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 1px solid black;
	margin: 0.25em;
}

.button.on,
.number.on {
	background: black;
}

.output {
	display: flex;
	flex-direction: row;
}
.decimal {
	text-align: center;
}
